/*ESTILO DO FORM DE PESQUISA*/
#alertaContainer #formAlerta{
    width: 100%;
    display: flex;
    justify-content: center;
}
#alertaContainer h4{
    text-align: center;
    color: #2a9e7f;
    line-height: 20px;
}
#alertaContainer p{
    line-height: 0px;
}
#alertaContainer button[type="submit"]{
    background-color: #2a9e7f;
    color: white;
    width: 250px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.165);
}





/*ESTILO DOS CAMPOS DE INPUTS DOS DADOS DOS PACIENTES*/
#alertaContainer section > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#alertaContainer .dadosPaciente div{
    min-width: 300px;
    flex: 1;
}
#alertaContainer .dadosPaciente div input{
    width: 100%;
}





/*ESTILO DA TABELA*/
#formPesquisarPaciente{
    display: flex;
    flex-direction: column;
}


#alertaContainer .tabelaContainer{
    overflow-x: scroll;
}

#alertaContainer table thead{
    background-color: #2a9e7f;
}
#alertaContainer table thead th{
    color: white;
}

/* Estilo básico para a tabela */
#alertaContainer table {
    width: 100%;
    border-collapse: collapse; /* Remove espaçamento entre células */
    margin: 20px 0; /* Espaço ao redor da tabela */
    font-size: 16px; /* Tamanho da fonte */
    text-align: left; /* Alinhamento do texto */
}
  
/* Estilo para as células da tabela */
#alertaContainer th, td {
padding: 3px; /* Espaçamento interno das células */
border: 1px solid #dddddd; /* Borda das células */
}
#alertaContainer td{
    border: 1px solid #aec8c1;
}
/* Estilo para o cabeçalho da tabela */
#alertaContainer th {
text-transform: uppercase; /* Texto em maiúsculas */
}

/* Estilo para as linhas alternadas */
#alertaContainer tr:nth-child(even) {
background-color: #d0fff3; /* Cor de fundo alternada */
}