/*ESTILO DO FORM DE PESQUISA*/
#alertaContainer #formAlerta{
    width: 100%;
    display: flex;
    justify-content: center;
}
#alertaContainer h4{
    text-align: center;
    color: #2a9e7f;
    line-height: 20px;
}
#alertaContainer p{
    line-height: 0px;
}
#alertaContainer button[type="submit"]{
    background-color: #2a9e7f;
    color: white;
    width: 250px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.165);
}





/*ESTILO DOS CAMPOS DE INPUTS DOS DADOS DOS PACIENTES*/
#alertaContainer section > div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#alertaContainer .dadosPaciente div{
    min-width: 300px;
    flex: 1;
}
#alertaContainer .dadosPaciente div input{
    width: 100%;
}





/*ESTILO DA TABELA*/
#formPesquisarPaciente{
    display: flex;
    flex-direction: column;
}

#alertaContainer tbody{
    max-height: 500px!important;
}
#alertaContainer .tabelaContainer{
    overflow-x: scroll;
}

#alertaContainer table thead{
    background-color: #2a9e7f;
    width: 100%!important;
}
#alertaContainer table th{
    color: white;
}

/* Estilo básico para a tabela */
#alertaContainer table{
    width: 100%;
    border-collapse: collapse; /* Remove espaçamento entre células */
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

/* Estilo para as células da tabela */
#alertaContainer th, td {
padding: 3px; 
border: 1px solid #dddddd;
}
#alertaContainer td{
    border: 1px solid #bad5ce;
}
#alertaContainer th {
text-transform: uppercase;
}
#alertaContainer tr:nth-child(even) {
background-color: #dbfff6; /* Cor de fundo alternada */
}

/*Ajustando a larguras das colunas*/
#alertaContainer tbody tr td:nth-child(3){
    width: 130px;
}
#alertaContainer tbody tr td:nth-child(1){
    width: 100px;
}
#alertaContainer tbody tr td:nth-child(4){
    width: 200px;
}
#alertaContainer tbody tr td:nth-child(5){
    width: 130px;
}