/*ESSE ESTILO AFETARÁ TODAS AS PÁGINAS*/

/*CORPO BODY*/
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between!important;
    gap: 50px;
    background-image: url('/img/fundo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
body h1{
    font-family: "Bebas Neue",Arial, Helvetica, sans-serif;
    font-size: 60px;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(0, 227, 136), rgb(143, 255, 210), rgb(216, 255, 239) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}







/*NAVBAR & HEADER*/
body header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    margin-bottom: 30px;
}
.navbar ul{
    display: flex;
    gap: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(176, 255, 223);
}
.navbar ul li a:hover{
    color: white;
}
@media(max-width:991px){
    #navbarSite{
        background-color: #1b745d;
        padding: 20px;
    }
    #navbarSite ul li{
        display: flex;
        justify-content: center;
    }
}










/*TAMANHO DAS FONTES DE TODAS AS PÁGINAS*/
body h1{
    font-size: 60px;
}










/*ESTILO GERAL DE TODOS OS DASHBOARDS*/
.dashContainer .card{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349);
}
.dashContainer .filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashContainer .filtros p{
    line-height: 5px;
}










/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #18624f, #1b6f59);
    padding: 20px;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
@media(max-width:767px){
    footer .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
footer .container div p{
    font-size: 12px;
    color: white;    
    text-align: center;
    line-height: 2px;
}