/*FILTRO*/
.dashContainer .filtros div h4{
    text-align: left;
}
.dashContainer i{
    color: #2a9e7f;
    font-size: 25px;   
}
.dashContainer #limpar{
    cursor: pointer;
}
.dashContainer #limpar p{
    color:#2a9e7f;
}
.dashContainer .filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashContainer .filtros p{
    line-height: 5px;
}
/*grupos prioritários*/
.prioritario{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.188);
    border-top-right-radius: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.prioritario:active{
    transform: scale(0.96);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.188);
}




/*ESTILO DOS DASHBOARDS*/
.dashContainer .card{
    display:flex;
    flex-direction:row;
    gap: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.349);
    /*background-color: #e1fff8;*/
    background-image: radial-gradient(circle,#ffffff, #e5fff9);
    border: none;
}
.dashContainer section{
    background-color: transparent!important;
}
.dashContainer .card img{
    width: 50px;
}
.dashContainer .card .subCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dashContainer .card h4{
    color: #2a9e7f;
    text-align: center;
    line-height: 20px;
}
.dashContainer .card .subCard p{
    text-align: center;
    color: rgb(71, 71, 71);
}
.dashContainer .card .subCard span{
    font-size: 10px;
}




/*header da tabela Locais prováveis de infecção*/
#locInfec{
    display: flex;
    flex-direction: column;
}
#infecHeader{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#infecHeader p{
    font-size: 12px;
}
#infecHeader i{
    font-size: 12px;
}
#infecHeader button{
    height: 25px;
    font-size: 12px;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background-color: #2a9e7f;
    cursor: pointer;
    color: white;
    border-radius: 15px;
}

/*Corpo da tabela*/
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
table thead{
    border-bottom: 1px solid rgb(202, 202, 202);
}
table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(71, 71, 71);
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: inherit; /* Manter a cor do cabeçalho */
    color: rgb(97, 97, 97);
}

tbody {
    display: block;
    max-height: 200px; /* Altura máxima do corpo da tabela */
    overflow-y: auto;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: left;
}

/*footer da tabela*/
tfoot {
    border-top: 1px solid rgb(202, 202, 202)!important;
}
thead, tbody tr, tfoot {
    display: table;
    width: 100%;
    table-layout: fixed;
}
th, td {
    text-align: left;
}

thead{
    width: 98%;
}
tfoot{
    width: 98%;
}

/*tabela 2*/
#tabela2 table thead{
    border-bottom: 1px solid rgb(202, 202, 202)!important;
}
#tabela2 table{
    font-size: 12px;
}

table i{
    color: rgb(97, 97, 97)!important;
}